# Node.js
node_modules/
package-lock.json
yarn.lock

# Build
dist/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project/
*.sublime-workspace/

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local